<body>
    
<div class="wrapper">
    <form action="">
        <h1>Iniciar sesión</h1>
        <div class="input-box">
            <input type="text" placeholder="Correo electrónico..." required>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Contraseña..." required>
        </div>

        <div>
            <button type="submit" class="button">Iniciar Sesión</button>
        </div>

        <div class="register-link">
            <p>¿No tienes una cuenta? <a href="register">Registrate aquí</a></p>
        </div>
    </form>
</div>

</body>