<body>
    
    <div class="wrapper">
        <form action="">
            <h1>Registrarse</h1>
            <div class="input-box">
                <input type="text" placeholder="Correo electrónico..." required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Contraseña..." required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirmar contraseña..." required>
            </div>
    
            <div>
                <button type="submit" class="button">Registrarse</button>
            </div>
    
            <div class="register-link">
                <p>¿Ya tienes una cuenta? <a href="login">Inicia sesión aquí</a></p>
            </div>
        </form>
    </div>
    
    </body>